<div class="row " id="proBanner">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-2">
                <div class="card-body" style="background-color: transparent;" id="fol">
                    <button type="button" class="btn btn-primary btn-sm btn-block" style="background-color: #313C64;border:none;text-align: start;" id="follow">          
                    <span style="font-family: 'Avenir', Helvetica,sans-serif;font-weight: lighter;">Follow</span> 
                    <i class="mdi mdi-playlist-check" style="font-size: large;margin-left: 30px;"></i>           
                </button>
                </div>
            </div>
            <div class="col-md-10">
                <div class="card-body" style="background-color: transparent;">
                    <h2 style="font-family:'palab';"><span style="color: #313C64;">{{ spacsinfos?.name }}</span><span style="color: #1587B9;">&nbsp;&nbsp;&nbsp;{{ spacsinfos?.tickers[0]?.unit_ticker }}</span> </h2>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">

    </div>

    <div class="col-md-9" id="overview">
        <div class="row">
            <div class="col-md-7">
                <div class="card-body" style="background-color: transparent;">

                    <div class="card-header" style="background-color: #1587B9;font-size:17px;color:white;">
                        Overview
                    </div>
                    <div class="table-responsive bg-light">
                        <table class="table table-hover shadow-sm">
                            <tbody style="background-color: transparent;">
                                <tr>
                                    <td colspan="2">Market cap in $mm</td>
                                    <td>{{ spacsinfos?.overviews[0]?.market_cap | number }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">IPO lead manager</td>
                                    <td>IPO lead manager</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Intended industry focus</td>
                                    <td>{{spacsinfos?.overviews[0]?.industry?.name }}</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Company filings link</td>
                                    <td><a href="https://sec.report/CIK/{{ spacsinfos?.cik }}" target="_blank">Link</a></td>
                                </tr>
                                <tr>
                                    <td colspan="2">Status</td>
                                    <td *ngIf="oversinfos?.status && oversinfos?.targets[0]?.name">Combination</td>
                                    <td *ngIf="!oversinfos?.status && !oversinfos?.targets[0]?.name">No combination </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="card-body">

                    <div class="card-header" style="background-color: #1587B9;font-size:17px;color:white;">
                        Latest News
                    </div>
                    <div class="table-responsive bg-light">
                        <table class="table table-hover shadow-sm">
                            <thead>
                                <tr>
                                    <td>Date</td>
                                    <td>Type</td>
                                    <td>Title</td>
                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let news of allnews;let i = index">
                                    <td>{{ news?.date | date:"dd-MM-yyyy"}}</td>
                                    <td *ngIf="news?.id_types==3">Research</td>
                                    <td>{{ news?.title }}</td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-3">
    </div>

    <div class="col-md-9">
        <section id="trust">
        <div class="card-body">
            <div class="card-header" style="background-color: #1587B9;font-size:17px;color:white;">
                Trust data and return calculations
            </div>
            <div class="table-responsive bg-light">
                <table class="table table-hover shadow-sm">
                    <tbody style="background-color: transparent;">
                        <tr>
                            <td colspan="2">IPO date</td>
                            <td>{{ spacsinfos?.trusts[0]?.ipo_date | date:"dd-MM-yyyy"}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Original length of combination period (months)</td>
                            <td>{{ ipo_date }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Extendable?</td>
                            <td *ngIf="spacsinfos?.trusts[0]?.extendable">Yes</td>
                            <td *ngIf="!spacsinfos?.trusts[0]?.extendable">No</td>
                        </tr>
                        <tr>
                            <td colspan="2">Warrant / Unit at issuance</td>
                            <td *ngIf="spacsinfos?.trusts[0]?.units_over_warrents">1/{{ spacsinfos?.trusts[0]?.units_over_warrents }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Date of latest filing</td>
                            <td>{{ filing[0]?.date | date:"dd-MM-yyyy"}}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Most recent cash in trust</td>
                            <td>${{ spacsinfos?.trusts[0]?.recent_cash }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Most recent shares outstanding (mm)</td>
                            <td>{{ spacsinfos?.trusts[0]?.recent_shares }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">Most recent cash in trust per share</td>
                            <td>${{ (spacsinfos?.trusts[0]?.recent_cash/spacsinfos?.trusts[0]?.recent_shares).toFixed(2) }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </section>
    </div>
   


    <div class="col-md-3" id="unit">
    </div>
    <div class="col-md-9 ">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8 justify-content-end">
                <h3 class="" style="text-align: center;color:#313C64;font-family: 'Avenir', Helvetica,sans-serif;font-weight: lighter;">
                    Unit, common stock, warrant information
                </h3>
            </div>
            <div class="col-md-2">
            </div>
        </div>

    </div>
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <a href="#haut"></a>
        <div class="row">
            <div class="col-md-6">
                <div class="card-body" style="background-color: transparent;">
                    <div class="card-header" style="background-color: #1587B9;font-size:17px;color:white;">
                        <div class="row justify-content-center" style="align-items: center;">
                            <nav class="navbar navbar-expand-lg">
                                <div class="container-fluid" >
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" style="padding: 0;border:none;">
                                        <i class="fa fa-bars" aria-hidden="true" style="color: #6A6A6A;"></i>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarText">
                                        <ul class="navbar-nav mx-auto" style="display: flex; justify-content: space-between; align-items: center;color:white;cursor: pointer;">
                                            <li class="nav-item mr-2" id="news_show_btn">
                                                <a class="nav-link-filter flink flink-all nav-active" (click)="getUnit()" style="color: white !important;">Unit </a>
                                            </li>
                                            <li class="nav-item me-md-3 mr-2" id="ipo_show_btn">
                                                <a class="nav-link-filter flink flink-ipo " (click)="getStock()" style="color: white !important;">Common stock </a>
                                            </li>
                                            <li class="nav-item me-md-3" id="sec_show_btn">
                                                <a class="nav-link-filter flink flink-sec" (click)="getWarrent()" style="color: white !important;">Warrant </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </div>
                    <div class="table-responsive bg-light">
                        <table class="table table-hover shadow-sm">
                            <tbody style="background-color: transparent;">
                                <tr>
                                    <td>Ticker</td>
                                    <td *ngIf="unit">{{ spacsinfos?.tickers[0]?.unit_ticker }}</td>
                                    <td *ngIf="stock">{{ spacsinfos?.tickers[0]?.common_stock_ticker }}</td>
                                    <td *ngIf="warrent">{{ spacsinfos?.tickers[0]?.warrant_ticker }}</td>

                                </tr>
                                <tr>
                                    <td>IPO date</td>
                                    <td>{{ spacsinfos?.trusts[0]?.ipo_date | date:"dd-MM-yyyy"}}</td>

                                </tr>
                                <tr>
                                    <td>Last price</td>
                                    <td *ngIf="unit">{{ priceU[0]?.price }}</td>
                                    <td *ngIf="stock">{{ priceS[0]?.price }}</td>
                                    <td *ngIf="warrent">{{ priceW[0]?.price }}</td>
                                </tr>
                                <tr>
                                    <td>30 Day ADV (shares)</td>
                                    <td *ngIf="unit">{{ averageU.toFixed(2) }}</td>
                                    <td *ngIf="stock">{{ averageS.toFixed(2) }}</td>
                                    <td *ngIf="warrent">{{ averageW.toFixed(2) }}</td>
                                </tr>
                                <tr>
                                    <td>IPO price</td>
                                    <td>${{ spacsinfos?.trusts[0]?.ipo_price }}</td>
                                </tr>
                                <tr>
                                    <td>IPO issuance</td>
                                    <td>{{ spacsinfos?.trusts[0]?.ipo_issuance | number}}</td>
                                </tr>
                                <tr *ngIf="warrent">
                                    <td>Underlying multiplier</td>
                                    <td>{{ spacsinfos?.warrant_infos[0]?.multiplier }}</td>
                                </tr>
                                <tr *ngIf="warrent">
                                    <td>First exercise date</td>
                                    <td>{{ spacsinfos?.warrant_infos[0]?.first_exercise }}</td>
                                </tr>
                                <tr *ngIf="warrent">
                                    <td>Underlying security</td>
                                    <td>{{ spacsinfos?.tickers[0]?.common_stock_ticker}}</td>
                                </tr>
                                <tr *ngIf="warrent">
                                    <td>Expiration</td>
                                    <td>{{ spacsinfos?.warrant_infos[0]?.expiration}}</td>
                                </tr>
                                <tr *ngIf="warrent">
                                    <td>Strike price</td>
                                    <td>{{ spacsinfos?.warrant_infos[0]?.strike }}</td>
                                </tr>
                                <tr *ngIf="warrent">
                                    <td>Delta</td>
                                    <td>{{ spacsinfos?.warrant_infos[0]?.delta}}</td>
                                </tr>
                                <tr *ngIf="warrent">
                                    <td>Implied volatility</td>
                                    <td>{{ spacsinfos?.warrant_infos[0]?.vol}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-body" style="background-color: transparent;">
                    <div class="card" style="background-color: #fff;">
                        <div id="container" style="height: 355px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" id="filings">
    </div>
    <div class="col-md-9">
        <div class="card-body">
            <div class="card-header" style="background-color: #1587B9;font-size:17px;color:white;">
                Filings timeline
            </div>
            <div class="table-responsive bg-light">
                <table class="table table-hover shadow-sm" id="timelinetable">
                    <thead>

                        <th *ngFor="let timeth of timelinesthdata; let i = index" aria-controls="timelinetable" scope="col" [mdbTableSort]="filing" [sortBy]="timelinesth[i]" style="cursor: pointer;">{{timeth | titlecase}}
                            <i class="mdi mdi-menu-down"></i></th>
                    </thead>
                    <tbody *ngFor="let time of filing | paginate : {
                        itemsPerPage: tableSize,
                        currentPage: page,
                        totalItems: count};">
                        <tr>
                            <td>{{ time?.date | date:"dd-MM-yyyy"}}</td>
                            <td>{{ time?.type }}</td>
                            <td style="max-width:70px;"><a href="{{ time?.link }}" target="_blank">{{ time?.title }}</a></td>
                        </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-end ">
                    <pagination-controls class="my-pagination rounded-circle " responsive="true " previousLabel="Prev " nextLabel="Next " (pageChange)="onTableDataChange($event) ">
                    </pagination-controls>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3" id="directors">
    </div>
    <div class="col-md-9">
        <div class="card-body">
            <div class="card-header" style="background-color: #1587B9;font-size:17px;color:white;">
                Directors and officers

            </div>
            <div class="table-responsive bg-light">
                <table class="table table-hover shadow-sm" id="tableSortExample" mdbTable>
                    <thead class="align-top">
                        <tr class="align-top">
                            <th class="align-top" *ngFor="let head of headElementsth; let i = index" aria-controls="tableSortExample" scope="col" [mdbTableSort]="directors" [sortBy]="headElements[i]">{{head | titlecase}}
                                <i class="mdi mdi-menu-down"></i></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let officiers of directors;">
                        <tr>
                            <td>{{ officiers?.name }}</td>
                            <td>{{ officiers?.position }}</td>
                            <td>{{ officiers?.age }}</td>
                            <td><button class="waves-light btn-s" type="button" (click)="test.toggle()" mdbWavesEffect style="background-color:#313C64;border: none;border-radius: 3px;">
                                <i class="fa fa-bars" aria-hidden="true" style="color: white;"></i>
                              </button>

                            </td>

                        </tr>
                        <tr>
                            <td colspan="4" style="border: none;">
                                <div mdbCollapse #test="bs-collapse">
                                    <p>{{ officiers?.summary }}</p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3" id="13f">
    </div>
    <div class="col-md-9">
        <div class="card-body">
            <div class="card-header" style="background-color: #1587B9;font-size:17px;color:white;">
                13F Shareholders

            </div>
            <div class="table-responsive bg-light">
                <table class="table table-hover shadow-sm" id="tableSortshareholders" mdbTable>
                    <thead>
                        <tr>
                            <th *ngFor="let headS of headElementsShareH; let j = index" aria-controls="tableSortshareholders" [mdbTableSort]="shareholdersD" [sortBy]="headElementsShareD[j]">{{headS | titlecase}}
                                <i class="mdi mdi-menu-down"></i></th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let sharas of shareholdersD;let y=index;">
                        <tr>
                            <td>{{ sharas?.name }}</td>
                            <td>{{ sharas?.shares }}</td>
                            <td>{{ sharas?.title }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>