<div class="row " id="proBanner">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="input-group input-group-lg">
            <ng-autocomplete type="text" class="form-control align-center" [data]="spacssearch" [searchKeyword]="keyword" (selected)='selectEvent($event)' (inputChanged)='onchangeSearch($event)' (inputFocused)='onFocused($event)' historyIdentifier="spacssearch" [itemTemplate]="itemTemplate"
                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" placeholder="Search SPACs " style="border: none;font-size:23px;font-weight: lighter;"> </ng-autocomplete>
            <span class="input-group-text" id="inputGroup-sizing-lg" style="margin-left:-7px;border: none;background-color: white; color: #efefef;font-size: 23px;border-radius: 7px;"><i class="mdi mdi-magnify"></i></span>
            <ng-template #itemTemplate let-item style="width:700px;">
                <a [routerLink]="[ '/allspac', item.id]" [innerHTML]="item.name"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
            </ng-template>

        </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-lg-2"></div>
  <div class="col-lg-8">
      <nav class="navbar navbar-expand-lg bg-white shadow-sm" id="hero" >
          <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation" style="padding: 0;border:none;">
                  <i class="fa fa-bars" aria-hidden="true" style="color: #6A6A6A;"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                  <ul class="navbar-nav mx-auto" style="display: flex; justify-content: space-between; align-items: center;">
                      <li class="nav-item" id="news_show_btn">
                          <a class="nav-link-filter flink flink-all nav-active">Com</a>
                      </li>
                      <li class="nav-item me-md-3" id="ipo_show_btn">
                          <a class="nav-link-filter flink flink-ipo">No Com</a>
                      </li>
                      <li class="nav-item me-md-3" id="sec_show_btn">
                          <a class="nav-link-filter flink flink-sec">New SPAC</a>
                      </li>
                      <li class="nav-item me-md-3" id="research_show_btn">
                          <a class="nav-link-filter flink flink-res">Old SPAC</a>
                      </li>
                  </ul>
              </div>
          </div>
      </nav>
      <ngx-loading-bar [fixed]="false" color="#1587B9" [height]="'12'"></ngx-loading-bar>
  </div>
  <div class="col-lg-2"></div> 
</div>
<div class="row">
    <div class="col-lg-12 p-sm-0 grid-margin stretch-card rounded">
      <div class="card p-sm-0"  style="background-color: transparent;">
        <div class="card-body p-sm-0">
        
            <div class="table-responsive custom-table-responsive">

                <table class="table custom-table">
              <thead>
                <tr class="align-top" style="cursor: pointer;">
                    <th class="align-top" *ngFor="let head of headThs; let i = index" [mdbTableSort]="elements" [sortBy]="headElements[i]" scope="col">{{head }}
                </tr>
                <div style="height: 10px;">
                </div>
              </thead>
              <tbody *ngFor="let spac of elements | paginate: { itemsPerPage: itemsPerPage , currentPage: p, totalItems: totalItems }">

                <tr class="mb-3 sphover">
                    <td>{{spac.idspac}}</td>
                    <td scope="row"><a [routerLink]="[ '/allspac', spac.idspac] " >{{ spac.Company }}</a></td>
                    <td class="red-text"><a [routerLink]="[ '/spacedet', spac.idspac] ">{{ spac.ticker }}</a></td>
                    <td>{{ spac.intended_industry_focus }}</td>
                    <td>{{ spac.current_market_cap }}</td>
                    <td>{{ spac.last_price}}</td>
                    <td><span *ngIf="spac.statuts==1">combination annonced</span><span *ngIf="spac.statuts!=1">no combination annonced</span></td>
                    <td>{{ spac.target}}</td>
                    <td>{{ spac.termination_date }}</td>
                </tr>
                <tr class="spacer"><td colspan="100"></td></tr>
              </tbody>
            </table>
          </div>
          <div>
          <div class="d-flex justify-content-center">
            <pagination-controls class="my-pagination" (pageChange)="getPage(p = $event)"
            screenReaderPaginationLabel="Pagination"
            screenReaderPageLabel="page"
            screenReaderCurrentLabel="You're on page"></pagination-controls>
        </div>
    </div>
        </div>
      </div>
    </div>
  </div>