<div class="col-md-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Disclosures and Disclaimer</h4>
            <h4 class="card-title">
                General Information:
            </h4>
            <p>
                This material has been produced by UFP Research SA, a Swiss incorporated entity which is part of the United First Partners Group (collectively known as “UFP”). <br> In the UK, EEA and Australia, this material is disseminated by Mariana
                UFP LLP (“Mariana UFP”).<br> United First Partners is a registered trading name of Mariana UFP. Mariana UFP is authorised and regulated in the United Kingdom by the Financial Conduct Authority (FRN 551170) and is exempt from registration
                with the Australian Securities & investment Commission. <br> In the USA, this material is approved and issued by United First Partners LLC, which accepts full responsibility for research reports of its non-US affiliates distributed to
                UFP clients in the US. United First Partners LLC is a registered broker/dealer and member of FINRA and SIPC.<br> UFP personnel in Singapore operate under the Exempt Financial Adviser regime of the Monetary Authority of Singapore.

            </p>
            <h4 class="card-title">
                Analyst Certification:
            </h4>
            <p>
                The research analyst(s) named on the cover of this report as denoted by “AC”, certify with respect to each security or issuer that:
                <br>(1) All of the views expressed in this report accurately reflect his or her personal view about any and all of the subject securities or issuers;
                <br>(2) No part of any of the research analyst(s) compensation was, is, or will be directly or indirectly related to the specific recommendations or views expressed by the research analyst(s) in this report; and
                <br>(3) No financial interest is held by any analyst or a member of the research analyst’s house hold in any of the instruments or issuers covered by this report.

            </p>
            <h4 class="card-title">
                Ratings:
            </h4>
            <p>
                UFP LLC assigns one of the following ratings:
            </p>
            <h4 class="card-title">
                Buy Ratings
            </h4>
            <p>
                <b>Buy:</b>We expect this stock to deliver a positive total return over the life of the rating on an absolute basis.
            </p>
            <p>
                <b>Set Up the Spread : </b>We expect this spread to contract over the life of the rating; i.e. the subject security is expected to deliver a positive total return over the life of the rating on an absolute basis, net of any offsetting
                positions in the shares of the acquirer. UFP assigns price targets to subject securities with the rating Set Up the Spread on a discretionary basis.
            </p>
            <p>
                <b>Buy the Stub :</b>We expect this stock to deliver a positive total return over the life of the rating on an absolute basis, net of offsetting positions in any applicable publicly traded subsidiaries. UFP assigns price targets to subject
                securities with the rating Buy the Stub on a discretionary basis.
            </p>
            <p>
                <b>Build Initial Positions :</b>We expect this stock to deliver a positive return over the life of the rating on an absolute basis but recommend investors scale into positions in the stock over time.
            </p>
            <p>
                <b> Build Initial Positions in the Stub: </b>We expect this stock to deliver a positive total return over the life of the rating on an absolute basis, net of offsetting positions in any applicable publicly traded subsidiaries but believe
                investors should scale into positions in this stock and any offsetting positions over time. UFP assigns price targets to subject securities with the rating Build Initial Positions in the Stub on a discretionary basis.
            </p>
            <p>
                <b> Build Initial Positions in the Spread : </b>We expect this spread to contract over the life of the rating; i.e. the subject security is expected to deliver a positive total return over the life of the rating on an absolute basis, net
                of any offsetting positions in the shares of the acquirer but recommend investors scale into positions over time. UFP assigns price targets to subject securities with the rating Build Initial Positions in the Spread on a discretionary
                basis.
            </p>
            <h4 class="card-title">
                Hold Ratings
            </h4>

            <p>
                <b>Buy on Weakness: </b>We see this stock’s current price as reflecting appropriate value but expect a superior level at which to buy will occur during the life of the rating relative to the time of issuance of the rating.
            </p>
            <p>
                <b>Set the Spread at Wider Levels: </b> We see this spread’s present level as reflecting appropriate value but expect superior level at which to set the spread will occur during the life of the rating; i.e. a more attractive entry point
                in the subject security is expected to emerge over the life of the rating relative to the time of issuance of the rating, net of any offsetting positions in the shares of the acquirer. UFP assigns price targets to subject securities with
                the rating Set the Spread at Wider Levels on a discretionary basis.
            </p>
            <p>
                <b>Buy the Stub at Wider Levels: </b>We expect this stock to deliver a positive return over the life of the rating on an absolute basis, net of offsetting positions in any applicable publicly traded subsidiaries but expect a superior level
                at which to set the position will occur during the life of the rating relative to the time of issuance of the rating. UFP assigns price targets to subject securities with the rating Buy the Stub at Wider Levels on a discretionary basis.
            </p>
            <p>
                <b>Sell on Strength: </b>We recommend investors use upward moves in the stock relative to the time of issuance of the rating to exit positions in the subject security over the life of the rating.
            </p>
            <p>
                <b>Unwind the Spread on Strength: </b>We recommend investors use further contractions in the spread to unwind positions over the life of the rating; i.e. we recommend investors exit the positions in shares of the subject security at higher
                prices relative to the time of issuance of the rating, net of any offsetting positions in shares of the acquirer. UFP assigns price targets to subject securities with the rating Unwind the Spread on Strength on a discretionary basis.
            </p>
            <p>
                <b>Sell the Stub at Higher Levels: </b>We recommend investors use upward moves in this stock on an absolute basis over the life of the rating relative to the time of issuance of the rating to exit positions, net of offsetting positions
                in any applicable publicly traded subsidiaries. UFP assigns price targets to subject securities with the rating Sell the Stub at Higher Levels on a discretionary basis.
            </p>
            <h4 class="card-title">
                Sell Ratings
            </h4>
            <p>
                <b>Sell: </b>We expect this stock to deliver a negative total return over the life of the rating on an absolute basis.
            </p>
            <p>
                <b>Sell the Spread: </b>We expect this spread to widen over the life of the rating; i.e. the subject security is expected to deliver a negative return over the life of the rating on an absolute basis, net of any offsetting positions in
                the shares of the acquirer. UFP assigns price targets to subject securities with the rating Sell the Spread on a discretionary basis.
            </p>
            <p>
                <b>Sell the Stub: </b>We expect this stock to deliver a negative total return over the life of the rating on an absolute basis, net of offsetting positions in any applicable publicly traded subsidiaries. UFP assigns price targets to subject
                securities with the rating Sell the Stub on a discretionary basis.
            </p>
            <p>
                <b>Exit Positions: </b>We recommend investors exit positions in order to have no exposure to the subject security. UFP does not expect the subject security to deviate materially from its present price over the life of the rating.
            </p>
            <p>
                <b>Unwind the Spread: </b>We recommend investors exit positions in order to have no exposure to the subject security, net of any offsetting positions in shares of the acquirer. UFP does not expect the subject security, net of any positions
                in the acquirer, to deviate materially from its present price over the life of the rating. UFP assigns price targets to subject securities with the rating Unwind the Spread on a discretionary basis.
            </p>
            <p>
                <b>Exit Positions in the Stub: </b>We recommend investors exit positions in this stock, net of offsetting positions in any applicable publicly traded subsidiaries, in order to have no exposure to the subject security. UFP does not expect
                the subject security, net of offsetting positions in any applicable publicly traded subsidiaries, to deviate materially from its present price over the life of the rating. UFP assigns price targets to subject securities with the rating
                Exit Positions in the Stub on a discretionary basis.
            </p>
            <p>
                <b>Reduce Positions: </b>We recommend investors reduce positions in the subject security in order to lower exposure.
            </p>
            <p>
                <b>Reduce Positions in the Spread: </b>We recommend investors reduce positions in order to lower exposure to the subject security, net of any offsetting positions in shares of the acquirer. UFP assigns price targets to subject securities
                with the rating Reduce Positions in the Spread on a discretionary basis.
            </p>
            <p>
                <b>Reduce Positions in the Stub: </b>We recommend investors reduce positions in this stock, net of offsetting positions in any applicable publicly traded subsidiaries, in order to lower exposure to the subject security. UFP assigns price
                targets to subject securities with the rating Reduce Positions in the Stub on a discretionary basis.
            </p>
            <h4 class="card-title">
                Disclosures:
            </h4>
            <p>
                Both UFP and Mariana UFP maintain management controls covering the identification and disclosure of conflicts of interest. Conflict policies can be accessed on their respective website. In relation to investment recommendations the below disclosures are
                made on a non-exhaustive basis:
                <br>(1) Neither UFP nor Mariana UFP maintains any holdings (either directly or indirectly) greater than 1.0% in any of the instruments or issuers mentioned in this report.
                <br>(2) UFP and Mariana UFP sales/execution staff may receive remuneration from commissions generated via recommendations in relation to any of the instruments or issuers mentioned in this report.
                <br>(3) Neither UFP nor Mariana UFP has provided, or been compensated for, any other non-investment banking services by any of the issuers mentioned in this report.
                <br>(4) Neither UFP nor Mariana UFP is a market-maker or liquidity provider in the instruments of the issuers mentioned in this report.
                <br>(5) Neither UFP nor Mariana UFP have been a lead or co-lead manager of any publicly disclosed offer of financial instruments of the issuers mentioned in this report.
                <br>(6) Neither UFP nor Mariana UFP have been party to an agreement for the production of recommendations with any issuer involved with this report
                <br>(7) Neither UFP nor Mariana UFP have managed or co-managed a public offering of securities for the subject company in the past twelve months.
                <br>(8) Neither UFP nor Mariana UFP has received compensation for investment banking services from the subject company in the past twelve months.
                <br>(9) Neither UFP nor Mariana UFP expects to receive or intends to seek compensation for investment banking services from the subject company in the next three months.

            </p>
            <h4 class="card-title">
                Ratings Distribution
            </h4>
            <p>
                For purpose of FINRA Ratings Distribution Rules, United First Partners LLC currently provides research coverage of 37 companies, of which 87% are rated Buy, 5% are rated Hold and 8% are rated Sell. We do not offer investment banking services. This data
                is accurate as of 03/31/2021.
            </p>
            <h4 class="card-title">
                Disclaimer:
            </h4>
            <p>
                Any UK or EEA resident persons wishing to discuss this report or effect transactions in any security discussed herein may do so through United First Partners as a registered trading name of Mariana UFP. Any U.S. persons wishing to discuss this report
                or effect transactions in any security discussed herein may do so through United First Partners LLC. This report has been prepared solely for the purpose of providing information to clients of UFP and Mariana UFP. Within Australia, it
                is only intended for persons who are Wholesale Clients as defined in Section 761G of the Australian Corporations Act 2001. The information is not intended for persons who are Retail Clients within the meaning of the UK’s Financial Conduct
                Authority rules, or for persons who are not US Institutional Investors pursuant to the U.S. Securities and Exchange Commission Rules.

            </p>
            <p>
                <b>Options Specific: </b>If the information contained herein regards options related research, such information is available only to persons who have received the proper option risk disclosure documents. Options involve risk and are not
                suitable for all investors. Investors should read and understand the booklet “Characteristics and Risks of Standardized Options (ODD)” issued by the U.S. Options Clearing Corporation, a copy of which can be obtained from their website
                (<a href="http://optionsclearing.com/about/publications/publication-listing.jsp">http://optionsclearing.com/about/publications/publication-listing.jsp</a>).
            </p>
            <p>
                <b>General: </b>This material contains the views, opinions and trade ideas of UFP analysts. UFP analysts, as needed, will consult with UFP and Mariana UFP sales and trading desk personnel regarding market information, including but not
                limited to, pricing, spread levels and trading activity of securities. This report has been prepared solely from publicly available information. The information contained herein and any data underlying it has been obtained from, or based
                upon, sources believed to be reliable, but which has not been independently verified. UFP or Mariana UFP make no guarantee, representation, or warranty, either express or implied, and accept no responsibility or liability as to the accuracy,
                completeness and correctness of this information. Expressions of opinion in the report are those of the UFP analysts involved in the production of the report and may be subject to change without notice. Neither UFP nor Mariana UFP accepts
                any liability for any loss or damage, howsoever caused, arising from any errors, omissions or reliance on any information contained in this material. The content of this report and any attachments are solely for information purposes and
                do not constitute investment advice or a personal recommendation. Under no circumstances should it be construed as an offer or solicitation to sell, buy or subscribe for any financial instrument or security, or any interest in financial
                instruments or securities or enter into any transaction. Any prices or projections are to be considered as indicative estimates, based upon the information available at that point in time using methodologies and assumptions outlined within
                the report. Clients should not base their investment decisions solely on the basis of this document and should seek independent financial advice as necessary. This document is intended only for the use of the individual or entity to which
                it is addressed and may not be altered, reproduced, redistributed, or passed on to any other third party, in whole or in part, without the prior written consent of UFP Research SA.


            </p>
        </div>
    </div>
</div>