<div class="container">
    <div class="main-body">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
        </nav>
        <!-- /Breadcrumb -->

        <div class="row">
            <div class="col-md-4">
                <div class="card-body">
                    <div class="card-header" style="background-color: white;font-size:17px;color:white;border: none;">

                    </div>
                    <div class="d-flex flex-column align-items-center text-center" style="background-color: white;">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    </div>
                </div>


            </div>
            <div class="col-md-8 mb-3">
                <div class="card-body">
                    <div class="card-header" style="background-color: #1587B9;font-size:17px;color:white;">
                        Profile Informations
                    </div>
                    <div class="table-responsive bg-light">
                        <table class="table table-hover">
                            <tr style="border:none;" class="align-top ">
                                <th colspan="3 " style="border: none; " class="align-top ">First Name</th>
                                <th style="border: none; " class="align-top ">{{ bdinfosuser?.first_name }}</th>
                            </tr>
                            <tr class="align-middle ">
                                <th colspan="3 " style="border:none; " class="align-top ">Last Name</th>
                                <th style="border:none; " class="align-top ">
                                    {{ bdinfosuser?.last_name }}
                                </th>
                            </tr>
                            <tr class="align-middle ">
                                <th colspan="3 " style="border:none;" class="align-top">UserName</th>
                                <th style="border:none; " class="align-top ">{{ bdinfosuser?.username }}</th>
                            </tr>
                            <tr class="align-middle ">
                                <th colspan="3 " style="border:none;" class="align-top">Email</th>
                                <th style="border:none; " class="align-top ">{{ bdinfosuser?.username }}</th>
                            </tr>

                        </table>
                        <div style="justify-content: center;text-align: center;padding: 10px;">
                            <button type="submit" class="btn btn-primary mr-2" style="background-color: #313C64;border: none;" (click)="openModal(update)">edit profile</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <ng-template #update let-modal style="background-color: white;" class="text-center">
        <div class="modal-header">
            <button type="button" #closebutton class="close" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
            <form class="form-exemple" [formGroup]="profile_infos" (ngSubmit)="onModify()">
                <div class="form-group">
                    <label for="first_name">First name</label>
                    <input type="text" class="form-control" formControlName="first_name" value="{{ bdinfosuser?.first_name }}" required>
                </div>
                <div *ngIf="profile_infos.controls['first_name'].invalid && profile_infos.controls['first_name'].touched" class="alert alert-danger">
                    <div *ngIf="profile_infos.controls['first_name'].errors.required">
                        First name is required.
                    </div>
                </div>
                <div class="form-group">
                    <label for="last_name">Last name</label>
                    <input type="text" class="form-control" formControlName="last_name" value="{{ bdinfosuser?.last_name }}" required>
                </div>
                <div *ngIf="profile_infos.controls['last_name'].invalid && profile_infos.controls['last_name'].touched" class="alert alert-danger">
                    <div *ngIf="profile_infos.controls['last_name'].errors.required">
                        First name is required.
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="email" class="form-control" formControlName="username" value="{{ bdinfosuser?.username }}" required>
                </div>
                <div *ngIf="profile_infos.controls['username'].invalid && profile_infos.controls['username'].touched" class="alert alert-danger">
                    <div *ngIf="profile_infos.controls['username'].errors.required">
                        Username is required.
                    </div>
                </div>
                <div style="justify-content: center;text-align: center;">
                    <button type="submit" class="btn btn-primary mr-2" style="background-color: #313C64;border: none;">Submit</button>
                </div>
            </form>
        </div>
    </ng-template>
</div>